/* -*-html-*- */
/*
 *  $Id: index.tmpl,v 1.2 2002/01/09 17:13:12 sbooth Exp $
 *
 *  Copyright (C) 2001 Stephen F. Booth
 *
 *  Permission is granted to copy, distribute and/or modify this document
 *  under the terms of the GNU Free Documentation License, Version 1.1
 *  or any later version published by the Free Software Foundation;
 *  with no Invariant Sections, with no Front-Cover Texts, and with 
 *  no Back-Cover Texts.
 *  A copy of the license is included in the section entitled "GNU
 *  Free Documentation License".
 */

/*! \page index

<img src="cgicc-logo.jpg" alt="[ GNU cgicc ]" height="163" width="436" />
<br />
GNU %cgicc - A C++ class library for writing CGI applications<br />
Copyright &copy; 1996, 1997, 1998, 1999, 2000, 2001, 2002 
<a href="mailto:sbooth@gnu.org">Stephen F. Booth</a>
<hr />

\htmlonly
<div class="version">
This documentation covers GNU cgicc version $(VERSION)
</div>
\endhtmlonly


\section index_intro Introduction

GNU %cgicc is an ANSI C++ compliant class library that greatly
simplifies the creation of CGI applications for the World Wide
Web. %cgicc performs the following functions:

<ul>
  <li>Parses both GET and POST form data transparently.</li>
  <li>Provides string, integer, floating-point and single- and
  multiple-choice retrieval methods for form data.</li> 
  <li>Provides methods for saving and restoring CGI environments to aid
  in application debugging.</li>
  <li>Provides full on-the-fly HTML generation capabilities, with
  support for cookies.</li>
  <li>Supports HTTP file upload.</li>
  <li>Compatible with <a href="http://www.fastcgi.com">FastCGI</a>.</li>
</ul>

\section index_doc Documentation

This documentation is divided into several parts:

\subsection index_bg_info Background Information
<ul>
<li><strong>\ref cgi_overview</strong> is a brief introduction for
those new to CGI programming</li>
</ul>

\subsection index_lib_bg Library Background
<ul>
<li><strong>\ref lib_overview</strong> presents an overview of the
library architecture, with an introduction to the libraries'
classes</li>
</ul>

\subsection index_prog_ref Programmer's Reference

<ul>
<li><strong><a href="classes.html">Alphabetical List</a></strong> of
classes in the GNU %cgicc library</li>
<li><strong><a href="hierarchy.html">Class Hierarchy</a></strong> for
the GNU %cgicc library</li>
<li><strong><a href="functions.html">All Methods</a></strong> in every
class contained in the GNU %cgicc library</li>
</ul>

\subsection index_samples Sample Code
<ul>
<li><strong>\ref cgicc_tutorial</strong> is written for programmers
familiar with CGI programming, but unfamiliar with GNU %cgicc</li>
<li><strong>\ref cgicc_demos</strong> are more complex, functional
demos illustrating specific features of the library</li>
</ul>

\subsection index_other Other Resources
<ul>
<li><strong>\ref cgicc_license</strong> ensure your rights to copy and
distribute the GNU %cgicc library, the associated documentation, and
the included examples</li>
</ul>

<ul>
<li><strong>\ref cgicc_lists</strong> are available to discuss %cgicc,
report bugs, and receive information on new releases</li>
</ul>

<ul>
<li><strong>\ref cgicc_bugs</strong> outlines the reporting process if
you think you've found a bug in %cgicc</li>
</ul>

*/
